# Build outputs
main.js
styles.css

# Dependencies
node_modules

# IDE
.idea
.vscode

# Docs
*.md

# Config
package-lock.json
package.json
tsconfig.json
esbuild.config.mjs
postcss.config.js

# Git
.git
.gitignore

# Agent files
.agents
.claude
skills-lock.json
